<template>
  <require from="./grid-lists.css"></require>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Grid lists</h4>
      <p>
        MDC Grid List provides a RTL-aware Material Design Grid list component adhering to the 
        <span class="mark-text">Material Design Grid list spec</span>. Grid Lists are best suited for presenting homogeneous data, typically images. 
        Each item in a grid list is called a <span class="mark-text">tile</span>. Tiles maintain consistent width, height, and padding across screen sizes.
        
      </p>
    </mdc-grid-cell>
    <!-- LINKS-->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/grid-lists/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-grid-list">Material components documentation</a><br/><a href="https://material.io/guidelines/components/grid-lists.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-grid-list">Material design guidelines</a><br/><a href="https://material.io/icons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-icons">Icons</a>
      <hr/>
    </mdc-grid-cell>
    <!-- BASIC-->
    <mdc-grid-cell span="6">
      <section>
        <h5>Basic</h5>
        <pre>
          <code-prism><mdc-grid-list
  header-top="false"
  two-line="false"
  icon-start="false"
  icon-end="false"
  aspect="1x1"
  gutter="1">
  <mdc-grid-tile>
    Header Title
  </mdc-grid-tile>
</mdc-grid-list>

          </code-prism></pre>
      </section>
      <mdc-checkbox checked.bind="isRtl">rtl</mdc-checkbox><br/>
      <mdc-checkbox checked.bind="header">header-top</mdc-checkbox><br/>
      <mdc-checkbox checked.bind="twoLine">two-line</mdc-checkbox><br/>
      <mdc-checkbox checked.bind="iconStart">icon-start</mdc-checkbox><br/>
      <mdc-checkbox checked.bind="iconEnd">icon-end</mdc-checkbox><br/>
      <mdc-select value.bind="aspect" label-text="aspect">
        <mdc-list-item repeat.for="item of ['1x1', '16x9', '2x3', '3x2', '4x3', '3x4']" model.bind="item">${item}</mdc-list-item>
      </mdc-select><br/>
      <mdc-text-field value.bind="gutter" type="number" min="0" max="10" step="1">gutter</mdc-text-field>
      <p class="mdc-typography--caption">Grid list tiles can have 1px padding instead of 4px. Set this value to 1 to use 1px padding.</p>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <section dir.bind="isRtl ? 'rtl' : 'ltr'">
        <mdc-grid-list header-top.bind="header" two-line.bind="twoLine" icon-start.bind="iconStart" icon-end.bind="iconEnd" aspect.bind="aspect" gutter.bind="gutter">
          <mdc-grid-tile on-click.delegate="onPrimary(1)" img-src="images/1-1.jpeg" on-secondary.delegate="onSecondary(1)" support-text="Support text" support-icon="library_books" action-icon="star">Header Title 1</mdc-grid-tile>
          <mdc-grid-tile on-click.delegate="onPrimary(2)" img-src="images/16-9.jpeg" on-secondary.delegate="onSecondary(2)" support-text="Support text" action-icon="star">Header Title 2</mdc-grid-tile>
          <mdc-grid-tile on-click.delegate="onPrimary(3)" img-src="images/1-1.jpeg" on-secondary.delegate="onSecondary(3)" action-icon="star">Header Title 3</mdc-grid-tile>
          <mdc-grid-tile on-click.delegate="onPrimary(4)" img-class="my-tile-image" on-secondary.delegate="onSecondary(4)" action-icon="star">Header Title 4</mdc-grid-tile>
        </mdc-grid-list>
        <p>Primary action: ${primaryItem}</p>
        <p>Secondary action: ${secondaryItem}</p>
      </section>
    </mdc-grid-cell>
    <!-- GRID TILE-->
    <mdc-grid-cell span="12">
      <section>
        <h5>Grid Tile</h5>
        <pre>
          <code-prism><mdc-grid-list...>
  <mdc-grid-tile
    img-src="images/1-1.jpeg"
    img-class="my-tile-image"
    support-text="Support text"
    support-icon="library_books"
    action-icon="star"
    on-click.delegate="onPrimary(1)"
    on-secondary.delegate="onSecondary(1)">
    Header Title 1
  </mdc-grid-tile>
</mdc-grid-list>

          </code-prism></pre>
        <p>Use <span class="mark-text">img-src</span> or <span class="mark-text">img-class</span> to show a picture not both.</p>
        <p>If you use <span class="mark-text">img-class</span> it will resize the assets to cover the tile and crop the assets to display the center part.</p>
        <pre>
          <code-prism language="css">.my-tile-image {
  background-image: url(images/16-9.jpeg);
}              
          </code-prism></pre>
        <pre>
          <code-prism><mdc-grid-tile                  
  img-class="my-tile-image"
  ...>
  Header Title 1
</mdc-grid-tile>


          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <!-- TILE WIDTH-->
    <mdc-grid-cell span="6">
      <section>
        <h5>Tile Width</h5>
        <pre>
          <code-prism language="css">.my-grid-list .mdc-grid-tile {
  width : 300px;
}
          </code-prism></pre>
        <pre>
          <code-prism><mdc-grid-list class="my-grid-list" aspect="16x9" gutter="1">
  <mdc-grid-tile img-src="images/16-9.jpeg"></mdc-grid-tile>
  ...
</mdc-grid-list>

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-grid-list class="my-grid-list" aspect="16x9" gutter="1">
        <mdc-grid-tile img-src="images/16-9.jpeg"></mdc-grid-tile>
        <mdc-grid-tile img-src="images/16-9.jpeg"></mdc-grid-tile>
        <mdc-grid-tile img-src="images/16-9.jpeg"></mdc-grid-tile>
        <mdc-grid-tile img-src="images/16-9.jpeg"></mdc-grid-tile>
      </mdc-grid-list>
    </mdc-grid-cell>
    <!-- THEME-->
    <mdc-grid-cell span="6">
      <section>
        <h5>Theme</h5>
        <p><span class="mark-text">mdc-grid-list</span> supports theming. <span class="mark-text">mdc-grid-tile__primary</span> uses the theme’s background color 
          for its background color. <span class="mark-text">mdc-grid-tile__secondary</span> uses the theme’s primary color for 
          it’s background color, and the theme’s <span class="mark-text">text-primary-on-background</span> color for its text color.
        </p>
        <pre>
          <code-prism language="css">/* background of secondary content */
.my-tile-color .mdc-grid-tile__secondary {
  background: rgba(0, 0, 0, 0.2);
}
/* action icon */
.my-tile-color .mdc-grid-tile__icon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
}
/* action icon hover */
.my-tile-color .mdc-grid-tile__icon:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* action icon active */
.my-tile-color .mdc-grid-tile__icon:active {
  color: rgba(255, 255, 255, 1);
}              
/* support icon */
.my-tile-color .mdc-grid-tile__support-text i {
  color: rgba(255, 255, 255, 0.7);
}
          </code-prism></pre>
        <pre>
          <code-prism><mdc-grid-list class="my-tile-color my-tile-stuff" two-line="true" icon-end="true">
  <mdc-grid-tile 
    img-src="images/1-1.jpeg" 
    support-text="Support text" 
    action-icon="info" 
    support-icon="library_books">
    Title
  </mdc-grid-tile>
  ...
</mdc-grid-list>

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <section>
        <mdc-grid-list class="my-tile-color my-tile-stuff" two-line="true" icon-end="true">
          <mdc-grid-tile repeat.for="nr of [0,1,2,3,4,5,6,7,8]" img-src="images/1-1.jpeg" support-text="Support text" action-icon="info" support-icon="thumb_up">Title</mdc-grid-tile>
        </mdc-grid-list>
        <p>some sass..</p>
        <pre>
          <code-prism language="css">@import "@material/elevation/mixins";

.my-tile-stuff {
  .mdc-grid-tile {
    @include mdc-elevation(0);
    transition: mdc-elevation-transition-value();
    will-change: $mdc-elevation-property;

    &:active {
      @include mdc-elevation(8);  
    }
  }
}
          </code-prism></pre><a href="https://material.io/components/web/catalog/elevation/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-elevation">Elevation</a>
      </section>
    </mdc-grid-cell>
  </mdc-grid>
</template>
