
<template>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Layout Grid</h4>
      <p>
        This component is a wrapper around MDC Layout Grid which is a css only component.
        Read more about grids at <a href="https://material.io/components/web/catalog/layout-grid/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-grids">Material components documentation</a>
        
      </p>
      <!-- LINKS-->
      <hr/>
      <section><a href="https://material.io/components/web/catalog/layout-grid/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-grids">Material components documentation</a></section>
      <section><a href="https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-grid" target="_blank" data-analytics-category="external" data-analytics-action="mdg-grids">Material design guidelines</a></section>
      <hr/>
      <!-- COPY PASTE DESCRIPTION-->
      <section>
        <h5>The layout grid</h5>
        <p class="mdc-typography--caption">(copy from Material documentation)</p>
        <p>
          A grid is a container that consists of a group of cells. 
          Grid can define its own max-width or designate its columns to be a 
          certain width. Cells get positioned in sequence according to a 
          predefined number of columns.
        </p>
        <p>
          The grid has 12 columns in desktop mode (&gt;= 840px), 8 columns in tablet mode (&gt;= 480px), 
          and 4 columns in phone mode (&lt; 480px). Cells specify how many columns to span (the default is 4). 
          Cells are placed side by side until there is no more room, then the next cell is placed at 
          the beginning of the next row.
        </p>
        <p>
          Margins (the space between the edge of the grid and the edge of the first cell) and 
          gutters (the space between edges of adjacent cells) can be customized on different devices respectively 
          based on design needs. The columns are evenly distributed within the container width, minus the width 
          of all margins and gutters. Layout grids set default margins and gutters to 24px on desktop, 16px on 
          tablet and phone, according to the Material Design spec.
        </p>
        <p>
          The grid and cells are not styled in any way, serving only for alignment and positioning of elements.
          
        </p>
      </section>
      <!-- BASIC-->
      <section>
        <h5>Grid component</h5>
        <p>This is a <span class="mark-text">basic</span> layout used with material components:</p>
        <pre>
          <code-prism><div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell"></div>
    <div class="mdc-layout-grid__cell"></div>
    <div class="mdc-layout-grid__cell"></div>
  </div>
</div>

          </code-prism></pre>
        <p>Equal part with bridge component:</p>
        <pre>
          <code-prism><mdc-grid>
  <mdc-grid-cell></mdc-grid-cell>
  <mdc-grid-cell></mdc-grid-cell>
  <mdc-grid-cell></mdc-grid-cell>
</mdc-grid>

          </code-prism></pre>
      </section>
      <!-- FIXED-->
      <section>
        <h5>Fixed column width grid</h5>
        <p>Set <span class="mark-text">fixed-width</span> attribute to <span class="mark-text">true</span> to add 
          <span class="mark-text">class mdc-layout-grid--fixed-column-width</span> to <span class="mark-text">mdc-layout-grid</span>:
        </p>
        <pre>
          <code-prism><mdc-grid fixed-width="true">
  <mdc-grid-cell></mdc-grid-cell>
  <mdc-grid-cell></mdc-grid-cell>
  <mdc-grid-cell></mdc-grid-cell>
</mdc-grid>

          </code-prism></pre>
      </section>
      <!-- COLUMN SPANS-->
      <section>
        <h5>Column spans</h5>
        <p>To span columns set attributes <span class="mark-text">span</span>, <span class="mark-text">span-desktop</span>,
          <span class="mark-text">span-tablet</span> and/or <span class="mark-text">span-phone</span> to a numeric
          value (1-12):
        </p>
        <pre>
          <code-prism><mdc-grid>
  <mdc-grid-cell span="2"></mdc-grid-cell>
  <mdc-grid-cell span="4"></mdc-grid-cell>
  <mdc-grid-cell span="6" span-tablet="8"></mdc-grid-cell>
</mdc-grid>

          </code-prism></pre>
      </section>
      <!-- REORDERING-->
      <section>
        <h5>Reordering</h5>
        <p>Reorder columns by setting attribute <span class="mark-text">order</span> to a numeric
          value (1-12):
        </p>
        <pre>
          <code-prism><mdc-grid>
  <mdc-grid-cell order="3"></mdc-grid-cell>
  <mdc-grid-cell order="1"></mdc-grid-cell>
  <mdc-grid-cell order="2"></mdc-grid-cell>
</mdc-grid>

          </code-prism></pre>
      </section>
      <!-- ALIGNMENT-->
      <section>
        <h5>Alignment</h5>
        <p>Align column content by setting attribute <span class="mark-text">align</span> to a string
          value ("top", "middle", "bottom"):
        </p>
        <pre>
          <code-prism><mdc-grid>
  <mdc-grid-cell align="top"></mdc-grid-cell>
  <mdc-grid-cell align="middle"></mdc-grid-cell>
  <mdc-grid-cell align="bottom"></mdc-grid-cell>
</mdc-grid>

          </code-prism></pre>
      </section>
      <!-- NESTED GRID-->
      <section>
        <h5>Nested grid</h5>
        <p>
          When your contents need extra structure that cannot be supported by single layout grid, 
          you can nest layout grid within each other. To nest layout grid, add a new <span class="mark-text">mdc-layout-grid-inner</span> element to wrap around nested cells.
        </p>
        <p class="mdc-typography--caption">(Material guideline do not recommend have a deeply nested grid since it might means a over complicated UX.)</p>
        <pre>
          <code-prism><mdc-grid>
  <mdc-grid-cell>
    <mdc-grid-inner>
      <mdc-grid-cell></mdc-grid-cell>
      <mdc-grid-cell></mdc-grid-cell>
      <mdc-grid-cell></mdc-grid-cell>
    </mdc-grid-inner>
  </mdc-grid-cell>
  <mdc-grid-cell></mdc-grid-cell>
  <mdc-grid-cell></mdc-grid-cell>
</mdc-grid>

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
  </mdc-grid>
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Binding</h4>
      <mdc-text-field value.bind="step" type="number" min="1" max="11" step="1">Span</mdc-text-field>
      <mdc-grid-inner>
        <mdc-grid-cell span.bind="step">
          <p>cell span ${step}</p>
        </mdc-grid-cell>
        <mdc-grid-cell span="${12-step}">
          <p>cell span ${12-step}</p>
        </mdc-grid-cell>
      </mdc-grid-inner>
    </mdc-grid-cell>
  </mdc-grid>
</template>