<template>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Icon Buttons</h4>
    </mdc-grid-cell>
    <!-- CONFIG AREA-->
    <mdc-grid-cell span="4">
      <mdc-checkbox checked.bind="on">on: ${on}</mdc-checkbox><br/>
      <mdc-checkbox checked.bind="disabled">disabled: ${disabled}</mdc-checkbox>
    </mdc-grid-cell>
    <!-- DEMO AREA-->
    <mdc-grid-cell span="8">
      <section class="components">
        <h6>Icon Button</h6>
        <mdc-icon-button disabled.bind="disabled" icon-on="star" icon-off="star"></mdc-icon-button>
      </section>
      <section class="components">
        <h6>Icon Toggling</h6>
        <mdc-icon-button on.bind="on" disabled.bind="disabled" icon-on="star" icon-off="star_outline" aria-label-on="On" aria-label-off="Off" on-toggle.delegate="onToggle($event)"></mdc-icon-button>
      </section>
      <p>Toggle event value: ${iconValue}</p>
      <section class="components">
        <h6>Custom color</h6>
        <mdc-icon-button class="my-icon-toggle-primary" on.bind="on" disabled.bind="disabled" icon-on="star" icon-off="star_outline" aria-label-on="On" aria-label-off="Off" on-toggle.delegate="onToggle($event)"></mdc-icon-button>
      </section>
      <section class="components">
        <mdc-icon-button class="my-icon-toggle-secondary" on.bind="on" disabled.bind="disabled" icon-on="star" icon-off="star_outline" aria-label-on="On" aria-label-off="Off" on-toggle.delegate="onToggle($event)"></mdc-icon-button>
      </section>
    </mdc-grid-cell>
    <!-- LINKS-->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/buttons/icon-toggle-buttons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-icon-toggle">Material components documentation</a><br/><a href="https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons" target="_blank" data-analytics-category="external" data-analytics-action="mdg-icon-toggle">Material design guidelines</a><br/><a href="https://material.io/icons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-icons">Icons</a>
      <hr/>
    </mdc-grid-cell>
    <!-- EXAMPLE-->
    <mdc-grid-cell span="12">
      <section>
        <h5>Icon Button</h5>
      </section>
      <pre>
        <code-prism><mdc-icon-button
  disabled.bind="disabled"
  icon-on="star"
  icon-off="star">
</mdc-icon-button>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="12">
      <section>
        <h5>Icon Button Toggling</h5>
      </section>
      <pre>
        <code-prism language="typescript">import { MDCIconButtonToggleEventDetail } from "@material/icon-button";
export class IconToggle {
  private iconValue;

  onToggle(event: MDCIconButtonToggleEventDetail) {
    this.iconValue = event.isOn;
  }
}

        </code-prism></pre>
      <pre>
        <code-prism><mdc-icon-button
  on.bind="on"
  disabled.bind="disabled"
  icon-on="star"
  icon-off="star_outline"
  aria-label-on="On"
  aria-label-off="Off"
  on-toggle.delegate="onToggle($event)">
</mdc-icon-button>


        </code-prism></pre>
    </mdc-grid-cell>
    <!-- EXAMPLE CUSTOM COLOR-->
    <mdc-grid-cell span="12">
      <section>
        <h5>Custom color</h5>
        <pre>
          <code-prism language="css">.my-icon-toggle-primary {
  .mdc-icon-button {
    @include mdc-states($mdc-theme-primary);
    @include mdc-icon-button-ink-color($mdc-theme-primary);
  }
}
.my-icon-toggle-secondary {
  .mdc-icon-button {
    @include mdc-states($mdc-theme-secondary);
    @include mdc-icon-button-ink-color($mdc-theme-secondary);
  }
}

          </code-prism></pre>
        <pre>
          <code-prism><mdc-icon-button class="my-icon-button-.." ...>
</mdc-icon-button>
          </code-prism></pre>
      </section>
    </mdc-grid-cell>
  </mdc-grid>
</template>
