
<template>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="4">
      <h4>Toolbars</h4>
    </mdc-grid-cell>
    <!-- LINKS-->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/toolbar/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-toolbar">Material components documentation</a><br/><a href="https://material.io/guidelines/components/toolbars.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-toolbar">Material design guidelines</a><br/><a href="https://material.io/icons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-icons">Icons</a>
      <hr/>
    </mdc-grid-cell>
    <!-- BASIC-->
    <mdc-grid-cell span="12">
      <h5>Basic</h5>
    </mdc-grid-cell>
    <mdc-grid-cell span="12">
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section start="true"><a class="material-icons mdc-toolbar__menu-icon" href="#/components/toolbars">menu</a>
            <mdc-toolbar-title>Title</mdc-toolbar-title>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <pre>
        <code-prism><mdc-toolbar>
  <mdc-toolbar-row>
    <mdc-toolbar-section start="true">
      <a class="material-icons mdc-toolbar__menu-icon" href="#/components/toolbars">menu</a>
      <mdc-toolbar-title>Title</mdc-toolbar-title>
    </mdc-toolbar-section>              
  </mdc-toolbar-row>
</mdc-toolbar>

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- MULTIROW-->
    <mdc-grid-cell span="12">
      <h5>Multi row</h5>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism><mdc-toolbar>
  <mdc-toolbar-row>
    <span>row 1</span>
  </mdc-toolbar-row>
  <mdc-toolbar-row>
    <span>row 2</span>
  </mdc-toolbar-row>
</mdc-toolbar>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-toolbar>
        <mdc-toolbar-row><span>row 1</span></mdc-toolbar-row>
        <mdc-toolbar-row><span>row 2</span></mdc-toolbar-row>
      </mdc-toolbar>
    </mdc-grid-cell>
    <!-- SECTIONS-->
    <mdc-grid-cell span="12">
      <h5>Sections</h5>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism><mdc-toolbar>
  <mdc-toolbar-row>
    <mdc-toolbar-section start="true">start</mdc-toolbar-section>
    <mdc-toolbar-section>center</mdc-toolbar-section>
    <mdc-toolbar-section end="true">end</mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section start="true">start</mdc-toolbar-section>
          <mdc-toolbar-section>center</mdc-toolbar-section>
          <mdc-toolbar-section end="true">end</mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
    </mdc-grid-cell>
    <!-- SHRINK TO FIT-->
    <mdc-grid-cell span="12">
      <h5>Shrink to fit</h5>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism><mdc-toolbar>
  <mdc-toolbar-row>
    <mdc-toolbar-section start="true">
      <mdc-toolbar-title>This is a super super super super super super super super long title</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section end="true" fit="true">end</mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section start="true">
            <mdc-toolbar-title>This is a super super super super super super super super long title</mdc-toolbar-title>
          </mdc-toolbar-section>
          <mdc-toolbar-section fit="true" end="true">end</mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
    </mdc-grid-cell>
    <!-- ICONS-->
    <mdc-grid-cell span="12">
      <h5>Icons</h5>
      <p>Icons can be added as anchor tags, spans, or buttons to <span class="mark-text">mdc-toolbar</span>. There are two types of icons, 
        <span class="mark-text">mdc-toolbar__menu-icon</span> represents the left most icon in <span class="mark-text">mdc-toolbar</span>
        usually to the left of <span class="mark-text">mdc-toolbar__title</span>. <span class="mark-text">mdc-toolbar__icon</span>
        represents any icons placed on the right side of an <span class="mark-text">mdc-toolbar</span>.
        
      </p>
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section start="true"><a class="material-icons mdc-toolbar__menu-icon" href="#/components/toolbars">menu</a>
            <mdc-toolbar-title>Title</mdc-toolbar-title>
          </mdc-toolbar-section>
          <mdc-toolbar-section end="true"><span class="material-icons mdc-toolbar__icon">star</span>
            <button class="mdc-toolbar__icon"><i class="material-icons">star</i></button><a class="material-icons mdc-toolbar__icon" href="#/components/toolbars">star</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <pre>
        <code-prism><mdc-toolbar>
  <mdc-toolbar-row>
    <mdc-toolbar-section start="true">
      <a class="material-icons mdc-toolbar__menu-icon" href="#/components/toolbars">menu</a>
      <mdc-toolbar-title>Title</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section end="true" fit="true">
      <span class="material-icons mdc-toolbar__icon">star</span>
      <button class="mdc-toolbar__icon">
        <i class="material-icons">star</i>
      </button>
      <a class="material-icons mdc-toolbar__icon" href="#/components/toolbars">star</a>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- FIXED-->
    <mdc-grid-cell span="12">
      <h5>Fixed toolbars</h5>
      <p>
        By default, toolbars scroll with the page content. To keep the toolbar fixed to the 
        top of the screen, add <span class="mark-text">fixed="true"</span> to the toolbar element
        
      </p><a href="https://material.io/components/web/catalog/toolbar/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-toolbar">More here: Material components documentation</a>
      <pre>
        <code-prism><mdc-toolbar fixed="true">
  ...
</mdc-toolbar>

<main class="mdc-toolbar-fixed-adjust">
  ...
</main>              

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- WATERFALL-->
    <mdc-grid-cell span="12">
      <h5>Waterfall toolbars</h5>
      <p>By adding <span class="mark-text">waterfall="true"</span> to <span class="mark-text">fixed toolbars</span>, fixed toolbars 
        become waterfall toolbars. Waterfall toolbar is initially static and has no elevation, and then 
        when the user starts scrolling becomes fixed and gains elevation.
      </p><a href="https://material.io/components/web/catalog/toolbar/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-toolbar">More here: Material components documentation</a>
      <pre>
        <code-prism><mdc-toolbar fixed="true" waterfall="true">
  ...
</mdc-toolbar>

<main class="mdc-toolbar-fixed-adjust">
  ...
</main>

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- FIXED LAST ROW-->
    <mdc-grid-cell span="12">
      <h5>Fixed last row toolbars</h5>
      <p>By adding <span class="mark-text">fixed-lastrow-only="true"</span> to <span class="mark-text">fixed toolbars</span>, 
        fixed toolbars will anchor only the last row to the top.
      </p><a href="https://material.io/components/web/catalog/toolbar/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-toolbar">More here: Material components documentation</a>
      <pre>
        <code-prism><mdc-toolbar fixed="true" fixed-lastrow-only="true">
  ...
</mdc-toolbar>

<main class="mdc-toolbar-fixed-adjust">
  ...
</main>

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- FLEXIBLE-->
    <mdc-grid-cell span="12">
      <h5>Flexible toolbars</h5>
      <p>Flexible behavior can be added to mdc-toolbar, whose height changes as the user scrolls.</p><a href="https://material.io/components/web/catalog/toolbar/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-toolbar">More here: Material components documentation</a>
      <pre>
        <code-prism><mdc-toolbar flexible="true" on-change.delegate="onChange($event)">
  ...
</mdc-toolbar>
        </code-prism></pre>
      <p>
        Flexible toolbars emit a change custom event with a detail object containing flexibleExpansionRatio property. 
        The flexibleExpansionRatio property is a number from 0-1 representing the ratio of flexible space that 
        has already been collapsed divided by the total amount of flexible space.
      </p>
      <pre>
        <code-prism language="typescript">import { IMdcToolbarFlexibleChangeEvent } from 'aurelia-mdc-bridge';

private onChange(e: IMdcToolbarFlexibleChangeEvent) {
  console.log(e.detail.flexibleExpansionRatio.toFixed(2));
}

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- FLEXIBLE DEFAULT BEHAVIOR-->
    <mdc-grid-cell span="12">
      <h5>Flexible Default Behavior</h5>
      <p>Set the most common use cases:</p>
      <ul>
        <li>Flexible has a fixed initial height 4 times the default size of mdc-toolbar-row.</li>
        <li>It further defines the background and title movement behavior.</li>
      </ul><a href="https://material.io/components/web/catalog/toolbar/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-toolbar">More here: Material components documentation</a>
      <pre>
        <code-prism><mdc-toolbar flexible="true" flexible-default="true" on-change.delegate="onChange($event)">
  ...
</mdc-toolbar>
        </code-prism></pre>
    </mdc-grid-cell>
  </mdc-grid>
</template>