
<template>
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Typography</h4>
      <p>
        Some examples from Material components documentation.
        
      </p>
    </mdc-grid-cell>
    <!-- LINKS  -->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/typography/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-typography">Material components documentation</a><br/><a href="https://material.io/guidelines/style/typography.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-typography">Material design guidelines</a>
      <hr/>
    </mdc-grid-cell>
    <mdc-grid-cell span="12">
      <h1 class="mdc-typography--headline1">Headline 1</h1>
      <pre>
        <code-prism><h1 class="mdc-typography--headline1"></h1>

        </code-prism></pre>
      <h1 class="mdc-typography--headline2">Headline 2</h1>
      <pre>
        <code-prism><h1 class="mdc-typography--headline2"></h1>

        </code-prism></pre>
      <h1 class="mdc-typography--headline3">Headline 3</h1>
      <pre>
        <code-prism><h1 class="mdc-typography--headline3"></h1>

        </code-prism></pre>
      <h1 class="mdc-typography--headline4">Headline 4</h1>
      <pre>
        <code-prism><h1 class="mdc-typography--headline4"></h1>

        </code-prism></pre>
      <h1 class="mdc-typography--headline5">Headline 5</h1>
      <pre>
        <code-prism><h1 class="mdc-typography--headline5"></h1>

        </code-prism></pre>
      <h2 class="mdc-typography--headline6">Headline 6</h2>
      <pre>
        <code-prism><h2 class="mdc-typography--headline6"></h2>

        </code-prism></pre><span class="mdc-typography--subtitle1">Subtitle 1</span>
      <pre>
        <code-prism><span class="mdc-typography--subtitle1"></span>

        </code-prism></pre>
      <h3 class="mdc-typography--subtitle2">Subtitle 2</h3>
      <pre>
        <code-prism><h3 class="mdc-typography--subtitle2"></h3>

        </code-prism></pre>
      <p class="mdc-typography--body1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <pre>
        <code-prism><p class="mdc-typography--body1">...</p>

        </code-prism></pre>
      <aside class="mdc-typography--body2">calling something out.</aside>
      <pre>
        <code-prism><aside class="mdc-typography--body2">...</aside>

        </code-prism></pre><span class="mdc-typography--caption">Caption</span>
      <pre>
        <code-prism><span class="mdc-typography--caption"></span>

        </code-prism></pre><span class="mdc-typography--button">Button</span>
      <pre>
        <code-prism><span class="mdc-typography--button"></span>

        </code-prism></pre><span class="mdc-typography--overline">Overline</span>
      <pre>
        <code-prism><span class="mdc-typography--overline"></span>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="12"><a href="https://material.io/components/web/catalog/typography/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-typography">Much more at Material components documentation</a></mdc-grid-cell>
  </mdc-grid>
</template>