<template>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Cards</h4>
    </mdc-grid-cell>
    <!-- CONFIG AREA-->
    <mdc-grid-cell span="4">
      <mdc-list dense="true">
        <mdc-list-item><a href="#cardsize">Size</a></mdc-list-item>
        <mdc-list-item> <a href="#strokedcard">Stroked Card</a></mdc-list-item>
        <mdc-list-item> <a href="#richmedia">Rich Media</a></mdc-list-item>
        <mdc-list-item> <a href="#cardactions">Card Actions</a></mdc-list-item>
        <mdc-list-item> <a href="#cardactiongroups">Card Actions Groups</a></mdc-list-item>
        <mdc-list-item> <a href="#cardprimaryaction">Card Primary Action</a></mdc-list-item>
      </mdc-list>
    </mdc-grid-cell>
    <!-- EXAMPLE-->
    <mdc-grid-cell span="8">
      <mdc-card class="my-demo-card" width="350px">
        <mdc-card-media image="images/16-9.jpeg" height="200px"></mdc-card-media>
        <div class="my-card-header">
          <h2>Our Changing Planet</h2>
          <h3>by Kurt Wagner</h3>
        </div>
        <div class="my-card-header">
          <h3>Visit ten places on our planet that are undergoing the biggest changes today.</h3>
        </div>
        <mdc-card-actions>
          <div class="mdc-card__action-buttons">
            <button mdc-button="mdc-button">Read</button>
            <button mdc-button="mdc-button">Bookmark</button>
          </div>
          <div class="mdc-card__action-icons">
            <mdc-icon-button icon-on="favorite" icon-off="favorite_border" aria-label-on="Remove from favorites" aria-label-off="Add to favorites"></mdc-icon-button><i class="material-icons mdc-ripple-surface" tabindex="0" role="button" title="Share" data-mdc-ripple-is-unbounded="data-mdc-ripple-is-unbounded">share</i><i class="material-icons mdc-ripple-surface" tabindex="0" role="button" data-mdc-ripple-is-unbounded="data-mdc-ripple-is-unbounded">more_vert</i>
          </div>
        </mdc-card-actions>
      </mdc-card>
    </mdc-grid-cell>
    <!-- LINKS-->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/cards/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-card">Material components documentation</a><br/><a href="https://material.io/guidelines/components/cards.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-drawer">Material design guidelines</a>
      <hr/>
    </mdc-grid-cell>
    <!-- SIZE-->
    <mdc-grid-cell span="12">
      <section>
        <h5 id="cardsize">Size</h5>
        <p>
          Cards don’t come with a predefined width or height. They expand horizontally to 
          fill all available space, and vertically to fit their contents.
        </p>
        <p>
          You can set height and width for a card like this:
          
        </p>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism><mdc-card
  height="150px"
  width="300px">
</mdc-card>

        </code-prism></pre>
      <p>Content will be bottom-aligned if it’s smaller than the height of the card.</p>
    </mdc-grid-cell>
    <mdc-grid-cell span="6" align="middle">
      <mdc-card class="my-demo-card" height="150px" width="300px">
        <div class="my-card-header">
          <h2>Card Size</h2>
          <h3>Card size in attributes</h3>
        </div>
      </mdc-card>
    </mdc-grid-cell>
    <mdc-grid-cell span="12">
      <p>
        If you’d like to maintain a consistent height and width across cards, 
        set it in your styles:
        
      </p>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism language="css">.my-card-container .mdc-card {
  height: 120px;
  width: 300px;
}
        </code-prism></pre>
      <pre>
        <code-prism><div class="my-card-container">
  <mdc-card>
    ..
  </mdc-card>
  <mdc-card>
    ..
  </mdc-card>
</div>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6" align="middle">
      <div class="my-card-container my-demo-card">
        <mdc-card>
          <div class="my-card-header">
            <h2>Card Size</h2>
            <h3>Card size in styles</h3>
          </div>
        </mdc-card>
        <mdc-card>
          <div class="my-card-header">
            <h2>Card Size</h2>
            <h3>Card size in styles</h3>
          </div>
        </mdc-card>
      </div>
    </mdc-grid-cell>
    <!-- STROKED CARD-->
    <mdc-grid-cell span="12">
      <section>
        <h5 id="strokedcard">Stroked Card</h5>
        <p>
          Default Cards is displayed with shadow. To remove the shadow and display a hairline
          stroke instead, set stroked to true.
          
        </p>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism><mdc-card
  stroked="true"
  height="120px"
  width="300px">
</mdc-card>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-card class="my-demo-card" height="120px" width="300px" stroked="true">
        <div class="my-card-header">
          <h2>Stroked Card</h2>
          <h3>Set stroked="true"</h3>
        </div>
      </mdc-card>
    </mdc-grid-cell>
    <!-- CONTENT BLOCKS-->
    <mdc-grid-cell span="12">
      <section>
        <h5>Content blocks</h5>
        <p>Cards are composed of different content blocks, which are typically laid out in vertical succession.</p>
        <p>Because every app is different, there are no “standard” layouts for card content; each app should define their own.</p>
        <p>However, MDC Card does provide styles for two common card elements: rich media (images or video) and actions.</p>
      </section>
    </mdc-grid-cell>
    <!-- RICH MEDIA-->
    <mdc-grid-cell span="6">
      <section>
        <h6 id="richmedia">Rich media</h6>
        <pre>
          <code-prism><mdc-card width="300px">
  <mdc-card-media
    image="images/16-9.jpeg"
    height="200px">
  </mdc-card-media>
</mdc-card>

default attributes:
  size="cover"
  repeat="no-repeat"

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-radio name="image" checked.bind="image" value="images/16-9.jpeg">images/16-9.jpeg</mdc-radio>
      <mdc-radio name="image" checked.bind="image" value="images/1-1.jpeg">images/1-1.jpeg</mdc-radio><br/><br/>
      <mdc-card width="300px">
        <mdc-card-media image.bind="image" height="200px"></mdc-card-media>
      </mdc-card>
    </mdc-grid-cell>
    <!-- RICH MEDIA STYLES-->
    <mdc-grid-cell span="6">
      <p>Styles can also be used:</p>
      <pre>
        <code-prism><mdc-card id="example">
  <mdc-card-media></mdc-card-media>
</mdc-card>
        </code-prism></pre>
      <pre>
        <code-prism language="css">#example .mdc-card__media {
  background-image: url("images/16-9.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
}

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-card id="example" width="300px">
        <mdc-card-media></mdc-card-media>
      </mdc-card>
    </mdc-grid-cell>
    <!-- RICH MEDIA SCALED-->
    <mdc-grid-cell span="6">
      <section>
        <h6 id="richmedia">Rich media - scaled</h6>
        <p>scaled="square" automatically scales the medias area height to equal its width.</p>
        <p>
          scaled="16-9" automatically scales the medias area height according to its width,
          maintaining a 16:9 aspect ratio.
        </p>
        <pre>
          <code-prism><mdc-card width="300px">
  <mdc-card-media
    scaled="16-9">
    <p>scaled="16-9"</p>
  </mdc-card-media>
</mdc-card>

          </code-prism></pre>
        <pre>
          <code-prism><mdc-card width="300px">
  <mdc-card-media
    image="images/1-1.jpeg"
    scaled="square">
    <h2>Media Card Content</h2>
  </mdc-card-media>
</mdc-card>

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6"><br/>
      <mdc-card width="300px">
        <mdc-card-media scaled="16-9">
          <p>scaled="16-9"</p>
        </mdc-card-media>
      </mdc-card>
      <mdc-card width="300px">
        <mdc-card-media image="images/1-1.jpeg" scaled="square">
          <h2>Media Card Content</h2>
        </mdc-card-media>
      </mdc-card>
    </mdc-grid-cell>
    <!-- CARD ACTIONS-->
    <mdc-grid-cell span="6">
      <section>
        <h6 id="cardactions">Card Actions</h6>
        <pre>
          <code-prism><mdc-card width="300px">
  <mdc-card-actions>
    <button mdc-button>Action 1</button>
    <button mdc-button>Action 2</button>
  </mdc-card-actions>
</mdc-card>

          </code-prism></pre>
        <p>mdc-card__action and mdc-card__action--button classes is automaticly added to buttons within card action section.</p>
        <p>mdc-card__action and mdc-card__action--icon classes is automaticly added to elements containing class "material-icons" within card action section.</p>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-card width="300px">
        <mdc-card-actions>
          <button mdc-button="mdc-button">Action 1</button>
          <button mdc-button="mdc-button">Action 2</button>
        </mdc-card-actions>
      </mdc-card>
    </mdc-grid-cell>
    <!-- CARD ACTION - FULL BLEED-->
    <mdc-grid-cell span="6">
      <section>
        <h6 id="cardactions">Card Actions - full-bleed</h6>
        <p>To have a single action button take up the entire width of the action row, set the full-bleed="true" attribute on the row:</p>
        <pre>
          <code-prism><mdc-card width="300px">
  <mdc-card-actions full-bleed="true">
    <button mdc-button>
      Action 1
      <i class="material-icons" aria-hidden="true">arrow_forward</i>
    </button>
  </mdc-card-actions>
</mdc-card>


          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-card width="300px">
        <mdc-card-actions full-bleed="true">
          <button mdc-button="mdc-button">
             Action 1<i class="material-icons" aria-hidden="true">arrow_forward</i></button>
        </mdc-card-actions>
      </mdc-card>
    </mdc-grid-cell>
    <!-- CARD ACTION GROUPS-->
    <mdc-grid-cell span="6">
      <section>
        <h6 id="cardactiongroups">Card Actions Groups</h6>
        <p><span class="mdc-typography--body2">mdc-card__action-buttons</span> - A group of action buttons, displayed on the left side of the card (in LTR), adjacent to mdc-card__action-icons</p>
        <p><span class="mdc-typography--body2">mdc-card__action-icons</span> - A group of supplemental action icons, displayed on the right side of the card (in LTR), adjacent to __action-buttons</p>
        <pre>
          <code-prism><mdc-card width="350px">
  <mdc-card-actions>
    <div class="mdc-card__action-buttons">
      <button mdc-button>Read</button>
      <button mdc-button>Bookmark</button>
    </div>

    <div class="mdc-card__action-icons">
      <mdc-icon-toggle
        icon-on="favorite"
        icon-off="favorite_border"
        aria-label-on="Remove from favorites"
        aria-label-off="Add to favorites">
      </mdc-icon-toggle>
      <i class="material-icons mdc-ripple-surface"
        tabindex="0"
        role="button"
        title="Share"
        data-mdc-ripple-is-unbounded>
        share
      </i>
      <i class="material-icons mdc-ripple-surface"
        tabindex="0"
        role="button"
        data-mdc-ripple-is-unbounded>
        more_vert
      </i>
    </div>
  </mdc-card-actions>
</mdc-card>

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-card width="350px">
        <mdc-card-actions>
          <div class="mdc-card__action-buttons">
            <button mdc-button="mdc-button">Read</button>
            <button mdc-button="mdc-button">Bookmark</button>
          </div>
          <div class="mdc-card__action-icons">
            <mdc-icon-button icon-on="favorite" icon-off="favorite_border" aria-label-on="Remove from favorites" aria-label-off="Add to favorites"></mdc-icon-button><i class="material-icons mdc-ripple-surface" tabindex="0" role="button" title="Share" data-mdc-ripple-is-unbounded="data-mdc-ripple-is-unbounded">share</i><i class="material-icons mdc-ripple-surface" tabindex="0" role="button" data-mdc-ripple-is-unbounded="data-mdc-ripple-is-unbounded">more_vert</i>
          </div>
        </mdc-card-actions>
      </mdc-card>
    </mdc-grid-cell>
    <!-- CARD PRIMARY ACTION-->
    <mdc-grid-cell span="6">
      <section>
        <h6 id="cardprimaryaction">Card Primary Action</h6>
        <p>
          The main tappable area of the card. Typically contains most (or all) card content except mdc-card-actions. 
          Only applicable to cards that have a primary action that the main surface should trigger.
        </p>
        <pre>
          <code-prism><mdc-card width="300px">
  <a class="mdc-card__primary-action" href="#" mdc-ripple>
    <mdc-card-media image="images/16-9.jpeg" scaled="16-9">
      <h2>Main tappable area</h2>
    </mdc-card-media>
  </a>
  <mdc-card-actions>
    <button mdc-button>Action 1</button>
    <button mdc-button>Action 2</button>
  </mdc-card-actions>
</mdc-card>


          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-card class="my-demo-card" width="300px"><a class="mdc-card__primary-action" href="#/components/cards" mdc-ripple="mdc-ripple">
          <mdc-card-media image="images/16-9.jpeg" scaled="16-9">
            <div class="my-card-header">
              <h2 class="white">Main tappable area</h2>
            </div>
          </mdc-card-media></a>
        <mdc-card-actions>
          <button mdc-button="mdc-button">Action 1</button>
          <button mdc-button="mdc-button">Action 2</button>
        </mdc-card-actions>
      </mdc-card>
    </mdc-grid-cell>
  </mdc-grid>
</template>
