/* 
 * TOP-APP-BAR TITLE
 *
*/
.mdc-top-app-bar__title-link {
  color: $my-white-on-dark-color;
  text-decoration: none;
}

@media(min-width: 680px) {
  .mdc-top-app-bar__title--small {
    display: none;
  }  
}
@media(max-width: 679px) {
  .mdc-top-app-bar__title--full {
    display: none;
  }  
}


/* 
 * BUTTONS AND LINKS 
 *
*/

/* Different styles on buttons between Chrome/Firefox */
.top-app-bar-link__button {
  height: 36px;
  margin-top: 10px;
  &:not(.active) {
    @include mdc-button-ink-color($my-white-on-dark-color);
  }
  &.active {
    @include mdc-button-ink-color($mdc-theme-secondary);
  }
}

/* Hide/show top-app-bar buttons/icons */
@media(min-width: 570px) {
  a.top-app-bar-link__small {
    display: none;
  }
}
@media(max-width: 569px) {
  a.top-app-bar-link__full {
    display: none;
  }  
  a.top-app-bar-link__small {
    display: block;
  }  
}

/* Color and size for top-app-bar svg icons */
a.top-app-bar-link__svg {
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;

  path:not([fill]) {
    fill: rgba(255, 255, 255, 1); 
  }
}
a.top-app-bar-link__svg.secondary {
  path:not([fill]) {
    fill: $mdc-theme-secondary; 
  }
}
a.top-app-bar-link__svg.primary {
  path:not([fill]) {
    fill: $mdc-theme-primary; 
  }
}

/* Switches z-index under top-app-bar */
.mdc-switch__background {
  z-index: 0;
}
