<template>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Checkboxes</h4>
    </mdc-grid-cell>
    <!-- CONFIG AREA-->
    <mdc-grid-cell span="4">
      <section>
        <mdc-checkbox checked.bind="disable">Disable demo checkbox</mdc-checkbox>
      </section>
      <section>
        <mdc-checkbox checked.bind="indeterminate">Make demo checkbox indeterminate</mdc-checkbox>
      </section>
      <section>
        <p>Event counter: ${eventCounter}</p>
        <p>Last change: ${isChecked}</p>
      </section>
    </mdc-grid-cell>
    <!-- DEMO AREA-->
    <mdc-grid-cell span="8">   
      <section class="components">
        <h6>Example</h6><br/>
        <mdc-checkbox checked.bind="checked1" indeterminate.bind="indeterminate" disabled.bind="disable" on-change.delegate="onChange($event)">DEMO checkbox. checked: ${checked1}</mdc-checkbox><br/>
        <mdc-checkbox checked="true">Check unbound (checked="true")</mdc-checkbox><br/>
        <mdc-checkbox indeterminate="true">Check unbound (indeterminate="true")</mdc-checkbox><br/>
        <mdc-checkbox disabled="true">Check unbound (disabled="true")</mdc-checkbox>
      </section>
    </mdc-grid-cell>
    <!-- LINKS-->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/input-controls/checkboxes/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-checkbox">Material components documentation</a><br/><a href="https://material.io/guidelines/components/selection-controls.html#selection-controls-checkbox" target="_blank" data-analytics-category="external" data-analytics-action="mdg-checkbox">Material design guidelines</a>
      <hr/>
    </mdc-grid-cell>
    <!-- EXAMPLE-->
    <mdc-grid-cell span="12">
      <pre>
        <code-prism language="typescript">import { IMdcCheckboxEvent } from 'aurelia-mdc-bridge';

private onChange(event: IMdcCheckboxEvent) {
  this.isChecked = event.detail;
  this.eventCounter++;
}

        </code-prism></pre>
      <pre>
        <code-prism><mdc-checkbox
  checked.bind="checked1" 
  indeterminate.bind="indeterminate"
  disabled.bind="disable"
  on-change.delegate="onChange($event)">

  DEMO checkbox. checked: ${checked1}
  
</mdc-checkbox>         
        </code-prism></pre>
    </mdc-grid-cell>
  </mdc-grid>
</template>
