<template>
  <require from="./menus.css"></require>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Menus</h4>
    </mdc-grid-cell>
    <!-- CONFIG AREA-->
    <mdc-grid-cell span="6">
      <mdc-list dense="true">
        <mdc-list-item><a href="#bindingmodel">Binding items model and menu value</a></mdc-list-item>
        <mdc-list-item><a href="#openstate">Open state</a></mdc-list-item>
        <mdc-list-item><a href="#quickopen">Quick open</a></mdc-list-item>
        <mdc-list-item><a href="#positioningthemenu">Positioning the menu</a></mdc-list-item>
        <mdc-list-item><a href="#menuanchorcorner">Menu anchor corner</a></mdc-list-item>
        <mdc-list-item><a href="#iconinmenuitem">Icon in menu item</a></mdc-list-item>
      </mdc-list>
    </mdc-grid-cell>
    <!-- DEMO AREA-->
    <mdc-grid-cell span="6">
      <!-- default theme-->
      <section class="components">
        <h5>Example</h5>
        <div class="mdc-menu-surface--anchor">
          <button mdc-button="raised: true;" click.delegate="showMenu1()">Button 1</button>
          <mdc-menu view-model.ref="menuElement1" on-cancel.delegate="onCancel1()" on-select.delegate="onSelect1($event)">
            <mdc-list-item>
               Item 1<span slot="start"><i class="material-icons" aria-hidden="true">network_wifi                  </i></span></mdc-list-item>
            <mdc-list-item> <span slot="start"><i class="material-icons" aria-hidden="true">network_wifi</i></span><span slot="text">Item 1.5</span></mdc-list-item>
            <mdc-list-item disabled="true">Item 2</mdc-list-item>
            <mdc-list-item model="item">Item 3</mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item>Item 4</mdc-list-item>
          </mdc-menu>
        </div><br/>
        <p>Last event menu 1: ${lastEvent1 | stringify}</p>
        <div class="mdc-menu-surface--anchor">
          <button mdc-button="raised: true;" click.delegate="showMenu2()">Button 2</button>
          <mdc-menu view-model.ref="menuElement2" on-cancel.delegate="onCancel2()" on-select.delegate="onSelect2($event)">
            <mdc-list-item>Item 1</mdc-list-item>
            <mdc-list-item disabled="true">Item 2</mdc-list-item>
            <mdc-list-item>Item 3</mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item>Item 4</mdc-list-item>
          </mdc-menu>
        </div><br/>
        <p>Last event menu 2: ${lastEvent2 | stringify}</p>
      </section>
    </mdc-grid-cell>
    <!-- LINKS-->
    <mdc-grid-cell span="12">
      <hr/><a href="https://material.io/components/web/catalog/menus/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-menu">Material components documentation</a><br/><a href="https://material.io/guidelines/components/menus.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-simple-menu">Material design guidelines</a>
      <hr/>
    </mdc-grid-cell>
    <!-- EXAMPLE-->
    <mdc-grid-cell span="12">
      <pre>
        <code-prism language="typescript">import { MdcMenu, IMdcMenuSelectedEvent, MdcMenuAnchorCorner } from 'aurelia-mdc-bridge';

private menuElement: MdcMenu;

// menu state
isOpen = menuElement.open;
// open menu
menuElement.open = true;
// close menu
menuElement.open = false;

// open menu
menuElement.show();
// show (open) menu, and focus the menu item at index 1.
menuElement.show({focusIndex: 1});
// close menu
menuElement.close();

// open menu from bottom right
menuElement.anchorCorner = MdcMenuAnchorCorner.bottomRight;

// menu item is selected
private onSelect(event: IMdcMenuSelectedEvent) {
  // event.detail.item: HTMLElement (The DOM element for the selected item)
  // event.detail.index: number (The index of the selected item)
}

//  menu is closed with no selection made
private onCancel() {
}

        </code-prism></pre>
      <pre>
        <code-prism language="html"><mdc-menu view-model.ref="menuElement" on-select.delegate="onSelect($event)" on-cancel.delegate="onCancel()">
  <mdc-list-item>Item 1</mdc-list-item>
  <mdc-list-item disabled="true">Item 2</mdc-list-item>
  <mdc-list-item>Item 3</mdc-list-item>
  <mdc-list-divider></mdc-list-divider>
  <mdc-list-item>Item 4</mdc-list-item>
</mdc-menu>


        </code-prism></pre>
    </mdc-grid-cell>
    <!-- BINDING MODEL-->
    <mdc-grid-cell span="12">
      <section id="bindingmodel">
        <h5>Binding items model and menu value</h5>
        <p>You can bind a variable to <span class="mark-text">value</span> attribute on <span class="mark-text">mdc-menu</span>
          element and get a <span class="mark-text">model</span> from selected <span class="mark-text">mdc-list-item</span>.
        </p>
        <p>
          It is also possible to focus item based on value.
          
        </p>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism language="typescript">private menuElement: MdcMenu;

private menuItems = [
  { id: 1, text: 'Item 1' },
  { id: 2, text: 'Item 2' },
  { id: 3, text: 'Item 3' },
  { id: 4, text: 'Item 4' }
];            
private selectedMenuItem = this.menuItems[1];

private showMenu() {
  this.menuElement.show({focusValue: true});
}

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <div class="mdc-menu-surface--anchor">
        <button mdc-button="raised: true;" click.delegate="showMenu3()">Show Menu</button>
        <mdc-menu view-model.ref="menuElement3" value.bind="selectedMenuItem">
          <mdc-list-item repeat.for="item of menuItems3" model.bind="item">${item.text}</mdc-list-item>
        </mdc-menu><br/>
        <p>Selected item: ${selectedMenuItem | stringify}</p>
      </div>
    </mdc-grid-cell>
    <mdc-grid-cell span="12">
      <pre>
        <code-prism><mdc-menu view-model.ref="menuElement" value.bind="selectedMenuItem">
  <mdc-list-item 
    repeat.for="item of menuItems" 
    model.bind="item">${item.text}
  </mdc-list-item>
</mdc-menu>

<p>${selectedMenuItem}</p>


        </code-prism></pre>
    </mdc-grid-cell>
    <!-- OPEN STATE-->
    <mdc-grid-cell span="9">
      <section id="openstate">
        <h5>Open State</h5>
        <p>The menu can be configured to start in the opened state by adding <span class="mark-text">open-state="true"</span> attribute to the <span class="mark-text">mdc-menu</span> element.
          
        </p>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="3">
      <mdc-menu open-state="true">
        <mdc-list-item>Item 1</mdc-list-item>
        <mdc-list-item>Item 2</mdc-list-item>
        <mdc-list-item>Item 3</mdc-list-item>
        <mdc-list-item>Item 4</mdc-list-item>
      </mdc-menu><br/>
    </mdc-grid-cell>
    <!-- QUICK OPEN-->
    <mdc-grid-cell span="12">
      <section id="quickopen">
        <h5>Quick Open</h5>
        <p>To open menu without animation add <span class="mark-text">quick-open="true"</span> attribute to the <span class="mark-text">mdc-menu</span> element.
          
        </p>
        <div class="mdc-menu-surface--anchor">
          <button mdc-button="raised: true;" click.delegate="showMenuQO()">Show Menu</button>
          <mdc-menu quick-open="true" view-model.ref="menuElementQO">
            <mdc-list-item>Item 1</mdc-list-item>
            <mdc-list-item>Item 2</mdc-list-item>
            <mdc-list-item>Item 3</mdc-list-item>
            <mdc-list-item>Item 4</mdc-list-item>
          </mdc-menu>
        </div><br/>
      </section>
    </mdc-grid-cell>
    <!-- POSITIONING THE MENU-->
    <mdc-grid-cell span="12">
      <section id="positioningthemenu">
        <h5>Positioning the menu</h5>
        <p>
          The menu can either be positioned manually, or automatically, 
          by anchoring it to an element.
          
        </p>
        <!-- AUTOMATIC POSITIONING-->
        <h5>Automatic positioning</h5>
        <p>
          The menu understands the concept of an anchor, which it can use 
          to determine how to position itself, and which corner to open from.
          
        </p>
        <p>The anchor can either be a visible element that the menu is a child of:</p>
        <pre>
          <code-prism><mdc-top-app-bar class="mdc-menu-surface--anchor">
  <mdc-menu>
    ...
  </mdc-menu>
</mdc-top-app-bar>

          </code-prism></pre>
        <p>or a wrapper element that contains the actual visible element to attach to:</p>
        <pre>
          <code-prism><div class="mdc-menu-surface--anchor">
  <button mdc-button>Open menu</button>
  <mdc-menu>
    ...
  </mdc-menu>
</div>
          </code-prism></pre>
        <p>Note: <span class="mark-text">overflow: visible</span> and <span class="mark-text">position: relative</span> will be set 
          on the element with <span class="mark-text">mdc-menu-surface--anchor</span> to ensure that the menu is positioned and 
          displayed correctly.
          
        </p>
        <p>The menu will check if its parent element has the <span class="mark-text">mdc-menu-surface--anchor</span> class set, 
          and if so, it will automatically position itself relative to this anchor element. 
          It will open from the top left (top right in RTL) corner of the anchor by default, 
          but will choose an appropriate different corner if close to the edge of the screen.
          
          
        </p>
      </section>
    </mdc-grid-cell>
    <!-- MANUAL POSITIONING-->
    <mdc-grid-cell span="12">
      <section>
        <h5>Manual positioning</h5>
        <p>The menu is <span class="mark-text">position: absolute</span> by default, and must be positioned 
          by the user when doing manual positioning.
          
        </p>
        <pre>
          <code-prism><div class="container">
  <mdc-menu style="top:0; left: 0;">
  ...
  </mdc-menu>
</div>          

          </code-prism></pre>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <pre>
        <code-prism language="css">.demo-menu-manual {
  position: relative;
  border: 1px solid #eee; 
  margin: 0 0 32px 0;
  width: 256px; 
  height: 256px;
}
.demo-menu-topleft {
  position: absolute;
  top: 0;
  left: 0;
}
.demo-menu-topright {
  position: absolute;
  top: 0;
  right: 0;
}
...

        </code-prism></pre>
      <pre>
        <code-prism><div class="demo-menu-manual">
  <mdc-menu class="demo-menu-topright">
    ...
  </mdc-menu>
</div>

<button mdc-button>Open menu</button>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <div class="demo-menu-manual">
        <mdc-menu class="demo-menu-topleft" view-model.ref="menuElement41" anchor-corner="top-left">
          <mdc-list-item>Item 1</mdc-list-item>
          <mdc-list-item>Item 2</mdc-list-item>
          <mdc-list-item>Item 3</mdc-list-item>
        </mdc-menu>
        <mdc-menu class="demo-menu-topright" view-model.ref="menuElement42" anchor-corner="top-right">
          <mdc-list-item>Item 1</mdc-list-item>
          <mdc-list-item>Item 2</mdc-list-item>
          <mdc-list-item>Item 3</mdc-list-item>
        </mdc-menu>
        <mdc-menu class="demo-menu-bottomleft" view-model.ref="menuElement43" anchor-corner="bottom-left">
          <mdc-list-item>Item 1</mdc-list-item>
          <mdc-list-item>Item 2</mdc-list-item>
          <mdc-list-item>Item 3</mdc-list-item>
        </mdc-menu>
        <mdc-menu class="demo-menu-bottomright" view-model.ref="menuElement44" anchor-corner="bottom-right">
          <mdc-list-item>Item 1</mdc-list-item>
          <mdc-list-item>Item 2</mdc-list-item>
          <mdc-list-item>Item 3</mdc-list-item>
        </mdc-menu>
      </div><br/>
      <button mdc-button="raised: true;" click.delegate="showMenu41()">Top Left</button><br/>
      <button mdc-button="raised: true;" click.delegate="showMenu42()">Top Right</button><br/>
      <button mdc-button="raised: true;" click.delegate="showMenu43()">Bottom Left</button><br/>
      <button mdc-button="raised: true;" click.delegate="showMenu44()">Bottom Right</button>
    </mdc-grid-cell>
    <!-- MENU OPENING POSITION-->
    <mdc-grid-cell span="12">
      <section>
        <h5 id="menuanchorcorner">Menu anchor corner</h5>
        <p>
          The menu will open from the top left by default (top right in RTL). 
          Depending on how you’ve positioned your button, you may want to change the 
          position it opens from. To override the opening position, you can style 
          <span class="mark-text">transform-origin</span> directly, or use one of the following options:
          
        </p>
      </section>
    </mdc-grid-cell>
    <mdc-grid-cell span="3">
      <mdc-radio name="menu-position" value="top-left" checked.bind="menuPosition">Top Left</mdc-radio><br/>
      <mdc-radio name="menu-position" value="top-right" checked.bind="menuPosition">Top Right</mdc-radio><br/>
      <mdc-radio name="menu-position" value="bottom-left" checked.bind="menuPosition">Bottom Left</mdc-radio><br/>
      <mdc-radio name="menu-position" value="bottom-right" checked.bind="menuPosition">Bottom Right</mdc-radio>
    </mdc-grid-cell>
    <mdc-grid-cell span="9">
      <style>
        .my-mdc-menu-surface--anchor {
          position: absolute;
        }
        
      </style>
      <div class="mdc-menu-surface--anchor my-mdc-menu-surface--anchor">
        <button mdc-button="raised: true;" click.delegate="showMenu51()">Open Menu</button>
        <mdc-menu view-model.ref="menuElement51" anchor-corner.bind="menuPosition">
          <mdc-list-item>Item 1</mdc-list-item>
          <mdc-list-item>Item 2</mdc-list-item>
          <mdc-list-item>Item 3</mdc-list-item>
        </mdc-menu>
      </div>
    </mdc-grid-cell>
    <mdc-grid-cell span="12">
      <pre>
        <code-prism><div class="mdc-menu-surface--anchor">
  <button mdc-button click.delegate="showMenu()">Open menu</button>
  <mdc-menu 
    anchor-corner="top-left / top-right / bottom-left / bottom-right"
    view-model.ref="menuElement">
    ...
  </mdc-menu>
</div>

        </code-prism></pre>
      <pre>
        <code-prism language="css">.mdc-menu-surface--anchor {
  position: absolute;
}          

        </code-prism></pre>
    </mdc-grid-cell>
    <!-- ICON IN MENU ITEM-->
    <mdc-grid-cell span="12">
      <h5 id="iconinmenuitem">Icon in menu item</h5>
    </mdc-grid-cell>
    <mdc-grid-cell span="8">
      <pre>
        <code-prism><mdc-menu ...>
  <mdc-list-item>
    Item 1
    <span slot="start">
      <i class="material-icons" aria-hidden="true">network_wifi</i>
    </span>
  </mdc-list-item>
  <mdc-list-item>
    Item 2
    <span slot="start">
      <i class="material-icons" aria-hidden="true">star</i>
    </span>
  </mdc-list-item>
</mdc-menu>

        </code-prism></pre>
    </mdc-grid-cell>
    <mdc-grid-cell span="4">
      <div class="mdc-menu-surface--anchor">
        <button mdc-button="raised: true;" click.delegate="showMenu6()">Open menu</button>
        <mdc-menu view-model.ref="menuElement6">
          <mdc-list-item>
             Item 1<span slot="start"><i class="material-icons" aria-hidden="true">network_wifi                  </i></span></mdc-list-item>
          <mdc-list-item>
             Item 2<span slot="start"><i class="material-icons" aria-hidden="true">star</i></span></mdc-list-item>
        </mdc-menu>
      </div>
    </mdc-grid-cell>
  </mdc-grid>
</template>
