
<template>
  <!-- TOP-APP-BAR LINKS-->
  <require from="../top-app-bar-links"></require>
  <!-- TOP-APP-BAR TITLE-->
  <require from="../top-app-bar-title"></require>
  <!-- ELEMENTS -MENU LIST-->
  <require from="./app-menu.html"></require>
  <!-- TOP-APP-BAR-->
  <mdc-top-app-bar fixed="true" waterfall="true">
    <mdc-top-app-bar-row>
      <!-- HEADER-->
      <mdc-top-app-bar-section start="true">
        <top-app-bar-title></top-app-bar-title>
      </mdc-top-app-bar-section>
      <!-- MAIN NAV-->
      <mdc-top-app-bar-section end="true" fit="true">
        <top-app-bar-links doc="false" comp="true"></top-app-bar-links>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <!-- adjust for fixed top-app-bar-->
  <div class="mdc-top-app-bar-fixed-adjust">
    <!-- make drawer and main area stay side by side-->
    <div class="container-permanent">
      <!-- NAV BAR-->
      <mdc-drawer-permanent class="mdc-show-drawer" spacer="false">
        <app-menu></app-menu>
      </mdc-drawer-permanent>
      <!-- MAIN AREA-->
      <main>
        <router-view>     </router-view>
      </main>
    </div>
  </div>
</template>