
<template>
  <!-- SAMPLE-->
  <mdc-grid>
    <mdc-grid-cell span="12">
      <h4>Components</h4>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-list-group>
        <!-- BUTTONS-->
        <mdc-list-group-header>Buttons</mdc-list-group-header>
        <mdc-list tag="nav">
          <mdc-list-item href="#/components/buttons" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_button_24px.svg"></svg-obj></span><span>Buttons</span></mdc-list-item>
          <mdc-list-item href="#/components/buttons/fab" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_button_24px.svg"></svg-obj></span><span>FAB</span></mdc-list-item>
          <mdc-list-item href="#/components/buttons/icon-toggle" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_button_24px.svg"></svg-obj></span><span>Icon toggle</span></mdc-list-item>
        </mdc-list>
        <!-- INPUTS-->
        <mdc-list-group-header>Inputs</mdc-list-group-header>
        <mdc-list tag="nav">
          <mdc-list-item href="#/components/inputs/checkboxes" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_selection_control_24px.svg"></svg-obj></span><span>Checkboxes</span></mdc-list-item>
          <mdc-list-item href="#/components/inputs/radio-buttons" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_radio_button_24px.svg"></svg-obj></span><span>Radio Buttons</span></mdc-list-item>
          <mdc-list-item href="#/components/inputs/select-menus" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_menu_24px.svg"></svg-obj></span><span>Select Menus</span></mdc-list-item>
          <mdc-list-item href="#/components/inputs/sliders" ripple="true"><span slot="start">
              <svg-obj src="images/components/slider.svg"></svg-obj></span><span>Sliders</span></mdc-list-item>
          <mdc-list-item href="#/components/inputs/switches" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_switch_24px.svg"></svg-obj></span><span>Switches</span></mdc-list-item>
          <mdc-list-item href="#/components/inputs/text-fields" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_text_field_24px.svg"></svg-obj></span><span>Text Fields</span></mdc-list-item>
        </mdc-list>
        <!-- EFFECTS-->
        <mdc-list-group-header>Effects</mdc-list-group-header>
        <mdc-list tag="nav">
          <mdc-list-item href="#/components/ripples" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_ripple_24px.svg"></svg-obj></span><span>Ripples</span></mdc-list-item>
        </mdc-list>
      </mdc-list-group>
    </mdc-grid-cell>
    <mdc-grid-cell span="6">
      <mdc-list-group>
        <!-- CONTROLS-->
        <mdc-list-group-header>Controls</mdc-list-group-header>
        <mdc-list tag="nav">
          <mdc-list-item href="#/components/chips" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_chips_24dp.svg"></svg-obj></span><span>Chips</span></mdc-list-item>
          <mdc-list-item href="#/components/dialogs" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_dialog_24px.svg"></svg-obj></span><span>Dialogs</span></mdc-list-item>
          <mdc-list-item href="#/components/linear-progress" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_progress_activity.svg"></svg-obj></span><span>Linear Progress</span></mdc-list-item>
          <mdc-list-item href="#/components/lists" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_list_24px.svg"></svg-obj></span><span>Lists</span></mdc-list-item>
          <mdc-list-item href="#/components/menus" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_menu_24px.svg"></svg-obj></span><span>Menus</span></mdc-list-item>
          <mdc-list-item href="#/components/snackbars" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_toast_24px.svg"></svg-obj></span><span>Snackbars</span></mdc-list-item>
          <mdc-list-item href="#/components/tabs" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_tabs_24px.svg"></svg-obj></span><span>Tabs</span></mdc-list-item>
        </mdc-list>
        <!-- LAYOUT-->
        <mdc-list-group-header>Layout</mdc-list-group-header>
        <mdc-list tag="nav">
          <mdc-list-item href="#/components/cards" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_card_24px.svg"></svg-obj></span><span>Cards</span></mdc-list-item>
          <mdc-list-item href="#/components/grid-lists" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_card_24px.svg"></svg-obj></span><span>Grid Lists</span></mdc-list-item>
          <mdc-list-item href="#/components/layout-grids" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_responsive_layout_24px.svg"></svg-obj></span><span>Layout Grid</span></mdc-list-item>
          <mdc-list-item href="#/components/toolbars" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_toolbar_24px.svg"></svg-obj></span><span>Toolbars</span></mdc-list-item>
          <mdc-list-item href="#/components/typography" ripple="true"><span slot="start"><i class="material-icons md-dark">text_fields</i></span><span>Typography</span></mdc-list-item>
        </mdc-list>
        <!-- DRAWERS-->
        <mdc-list-group-header>Drawers</mdc-list-group-header>
        <mdc-list tag="nav">
          <mdc-list-item href="#/components/drawers/permanent-above" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_side_navigation_24px.svg"></svg-obj></span><span>Permanent Above Toolbar</span></mdc-list-item>
          <mdc-list-item href="#/components/drawers/permanent-below" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_side_navigation_24px.svg"></svg-obj></span><span>Permanent Below Toolbar</span></mdc-list-item>
          <mdc-list-item href="#/components/drawers/persistent" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_side_navigation_24px.svg"></svg-obj></span><span>Persistent</span></mdc-list-item>
          <mdc-list-item href="#/components/drawers/temporary" ripple="true"><span slot="start">
              <svg-obj src="images/components/ic_side_navigation_24px.svg"></svg-obj></span><span>Temporary</span></mdc-list-item>
        </mdc-list>
      </mdc-list-group>
    </mdc-grid-cell>
  </mdc-grid>
</template>