<template>
  <!-- MENU LIST-->
  <require from="../../app-menu"></require>
  <!-- STYLES FOR LAYOUT-->
  <require from="./drawer.css"></require>
  <!-- TOP-APP-BAR-->
  <require from="../sample-top-app-bar"></require>
  <div class="container-permanent-above-body">
    <!-- NAV BAR-->
    <mdc-drawer-permanent>
      <mdc-drawer-spacer class="mdc-typography--headline">Spacer</mdc-drawer-spacer>
      <mdc-drawer-header class="mdc-typography--headline">Header</mdc-drawer-header>
      <app-menu></app-menu>
    </mdc-drawer-permanent>
    <div class="container-permanent-above-content">
      <!-- TOP-APP-BAR-->
      <sample-top-app-bar fixed="false"></sample-top-app-bar>
      <!-- MAIN AREA-->
      <main>
        <section>
          <mdc-grid>
            <mdc-grid-cell span="12">
              <h4>Permanent Drawer Above TopAppBar</h4>
              <p>A permanent drawer is always open, sitting to the side of the content.</p>
              <p>It is appropriate for any display size larger than mobile.</p>
            </mdc-grid-cell>
            <!-- LINKS-->
            <mdc-grid-cell span="12">
              <hr /><a
                href="https://material.io/components/web/catalog/drawers/"
                target="_blank"
                data-analytics-category="external"
                data-analytics-action="mdc-drawer"
              >Material components documentation</a><br /><a
                href="https://material.io/guidelines/patterns/navigation-drawer.html"
                target="_blank"
                data-analytics-category="external"
                data-analytics-action="mdg-drawer"
              >Material design guidelines</a>
              <hr /><a href="#/components/top-app-bars">mdc-top-app-bar</a><br /><a
                href="#/components/lists"
              >mdc-list</a>
              <hr />
            </mdc-grid-cell>
            <!-- BASIC-->
            <mdc-grid-cell span="12">
              <section>
                <h5>Element</h5>
                <pre>
                  <code-prism><mdc-drawer-permanent></mdc-drawer-permanent>

                  </code-prism></pre>
              </section>
            </mdc-grid-cell>
            <!-- LAYOUT-->
            <mdc-grid-cell span="12">
              <section>
                <h5>Layout</h5>
                <pre>
                  <code-prism><!-- place drawer and content side by side. -->
<div class="container-permanent-above-body">

  <!-- DRAWER -->
  <mdc-drawer-permanent>

    <!-- SPACER (optional) -->
    <mdc-drawer-spacer class="mdc-typography--headline">
      Spacer
    </mdc-drawer-spacer>

    <!-- HEADER (optional) -->
    <mdc-drawer-header class="mdc-typography--headline">
      Header
    </mdc-drawer-header>

    <!-- LIST ITEMS -->
    <mdc-list tag="nav" dense="true">
      <mdc-list-item href="#/">Link 1</mdc-list-item>
      <mdc-list-divider></mdc-list-divider>
      <mdc-list-item href="#/">Link 2</mdc-list-item>
    </mdc-list>

  </mdc-drawer-permanent>

  <!-- stack top-app-bar and main on top of each other. -->
  <div class="container-permanent-above-content">
  
    <!-- TOP-APP-BAR -->
    <mdc-top-app-bar fixed="false"></mdc-top-app-bar>

    <!-- MAIN AREA -->
    <main class="container-permanent-above-main">
    </main>

  </div>
</div>
                  </code-prism></pre>
                <pre>
                  <code-prism language="css">/* Place drawer and content side by side. */
.container-permanent-above-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}

/* Stack top-app-bar and main on top of each other. */
.container-permanent-above-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

/* Main content padding */
.container-permanent-above-main {
  padding: 16px 16px 0 16px;
}

                  </code-prism></pre>
              </section>
            </mdc-grid-cell>
            <!-- SELECTED LIST ITEM-->
            <mdc-grid-cell span="12">
              <section>
                <h5>Selected List Item</h5>
                <p>
                  You can specify which item in the drawer is selected by setting selected="true" on
                  the mdc-list-item:

                </p>
                <pre>
                  <code-prism><mdc-list tag="nav">
  <mdc-list-item href="#/" selected="true">Link 1</mdc-list-item>
  ...
</mdc-list>


                  </code-prism></pre>
              </section>
            </mdc-grid-cell>
            <!-- HEADER-->
            <mdc-grid-cell span="12">
              <section>
                <h5>Header</h5>
                <p>
                  A header is a large rectangular area that maintains a 16:9 ratio.
                  It’s often used for user account selection. The content will be bottom-aligned.

                </p>
                <pre>
                  <code-prism><mdc-drawer-permanent>
  ...

  <!-- HEADER -->
  <mdc-drawer-header>
    Header here
  </mdc-drawer-header>

  ...
</mdc-drawer-permanent>

                  </code-prism></pre>
                <pre>
                  <code-prism language="css">/* scss */
@import "@material/theme/mixins";

mdc-drawer-header {
  @include mdc-theme-prop(background-color, primary);
  @include mdc-theme-prop(color, text-primary-on-background);
}

                  </code-prism></pre><a
                  href="https://material.io/components/web/catalog/theme/"
                  target="_blank"
                  data-analytics-category="external"
                  data-analytics-action="mdc-theme"
                >Material components Theme documentation</a>
              </section>
            </mdc-grid-cell>
            <!-- SPACER-->
            <mdc-grid-cell span="12">
              <section>
                <h5>Spacer</h5>
                <p>
                  A top-app-bar spacer with the correct amount of space to match the top-app-bar
                  height. You can place content inside the top-app-bar spacer.

                </p>
                <pre>
                  <code-prism><mdc-drawer-permanent>
  ...

  <!-- SPACER -->
  <mdc-drawer-spacer>
    Spacer here
  </mdc-drawer-spacer>

  ...
</mdc-drawer-permanent>

                  </code-prism></pre>
                <pre>
                  <code-prism language="css">/* scss */
@import "@material/theme/mixins";

mdc-drawer-spacer {
  @include mdc-theme-prop(background-color, secondary);
  @include mdc-theme-prop(color, text-primary-on-background);
}

                  </code-prism></pre><a
                  href="https://material.io/components/web/catalog/theme/"
                  target="_blank"
                  data-analytics-category="external"
                  data-analytics-action="mdc-theme"
                >Material components Theme documentation</a>
              </section>
            </mdc-grid-cell>
          </mdc-grid>
        </section>
      </main>
    </div>
  </div>
</template>
